/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--primary-color: #faac2f;
	--primary-alt-color: #ff9d00;
	--secondary-color: #15191d;
	--tertiary-color: #face86;
	--white-color: #fcfcfc;
	--black-color: #000000;

	/* Font Family */
	--text-ff: 'Rubik', sans-serif;

	/* Font Size */
	--base-fs: 0.95rem;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;
	--bold-fw: 700;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;
	--section-pb: 3.5rem;

	/* Height */
	--navbar-mh: 80px;

	/* Border Radius */
	--circle-radius: 50%;
}

/***************** General *******************/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
	color: var(--secondary-color);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	margin-top: var(--navbar-mh);
	background-color: var(--white-color);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	display: flex;
}

button {
	outline: none;
	border: none;
	background-color: transparent;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.section {
	padding-block: var(--section-pb);
}

.btn {
	background-color: var(--primary-color);
	padding: 0.75rem 1.25rem;
	border-radius: 1.25rem;
	font-weight: var(--semibold-fw);
	font-size: var(--base-fs);
	text-transform: capitalize;
	transition: 0.25s ease-in-out;
}

.btn:hover {
	background-color: var(--primary-alt-color);
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.grid-2,
.grid-3,
.grid-5 {
	display: grid;
}

.grid-2 {
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.75rem;
}

.grid-5 {
	grid-template-columns: repeat(5, 1fr);
	column-gap: 1.25rem;
}

/***************** NAVBAR *******************/
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--white-color);
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: var(--navbar-mh);
}

.navbar-menu {
	flex-direction: row;
	align-items: center;
	gap: 1.15rem;
}

.navbar-logo .text,
.navbar-link {
	font-weight: var(--medium-fw);
	vertical-align: var(--base-fs);
}

.navbar-link {
	position: relative;
}

.navbar-link:hover {
	color: var(--black-color);
}

.navbar-link::after {
	content: '';
	position: absolute;
	background-color: var(--black-color);
	border-radius: var(--circle-radius);
	height: 0.35rem;
	width: 0.35rem;
	opacity: 0;
	transition: 0.25s ease-in-out;
	top: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.navbar-link.active::after,
.navbar-link:hover::after {
	opacity: 1;
}
/************** End of NAVBAR ***************/

/***************** HOME *******************/
/* TODO: Create HOME style */
/************** End of HOME ***************/

/***************** ABOUT *******************/
/* TODO: Create ABOUT style */
/************** End of ABOUT ***************/

/***************** SERVICES *******************/
/* TODO: Create SERVICES style */
/************** End of SERVICES ***************/

/***************** CONTACT *******************/
/* TODO: Create CONTACT style */
/************** End of CONTACT ***************/

/***************** FOOTER *******************/
#footer {
	background-color: var(--tertiary-color);
}
/************** End of FOOTER ***************/

/***************** CREDIT *******************/
/* TODO: Create CREDIT style */
/************** End of CREDIT ***************/

/***************** Responsiveness *******************/
/* TODO: Create Responsiveness style */
