/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--primary-color: #faac2f;
	--primary-alt-color: #ff9d00;
	--secondary-color: #15191d;
	--tertiary-color: #face86;
	--white-color: #fcfcfc;
	--black-color: #000000;
	--gray-color: #515152;

	/* Font Family */
	--text-ff: 'Rubik', sans-serif;

	/* Font Size */
	--base-fs: 0.95rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.75rem;
	--xxl-fs: 2.75rem;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;
	--bold-fw: 700;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;
	--section-pb: 3.5rem;

	/* Height */
	--navbar-mh: 80px;

	/* Border Radius */
	--circle-radius: 50%;
	--medium-radius: 0.35rem;
}

/***************** General *******************/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
	color: var(--secondary-color);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	margin-top: var(--navbar-mh);
	background-color: var(--white-color);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	display: flex;
}

button {
	outline: none;
	border: none;
	background-color: transparent;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.8;
}
/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.section {
	padding-block: var(--section-pb);
}

.section-title {
	margin-bottom: 4.25rem;
	text-align: center;
	font-size: var(--xxl-fs);
	text-transform: capitalize;
	letter-spacing: -0.15rem;
	word-spacing: 0.3rem;
}

.btn {
	background-color: var(--primary-color);
	padding: 0.75rem 1.5rem;
	border-radius: 1.25rem;
	font-weight: var(--medium-fw);
	font-size: var(--base-fs);
	text-transform: capitalize;
	transition: 0.25s ease-in-out;
}

.btn:hover {
	background-color: var(--primary-alt-color);
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.grid-2,
.grid-3,
.grid-5 {
	display: grid;
}

.grid-2 {
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.75rem;
}

.grid-5 {
	grid-template-columns: repeat(5, 1fr);
	column-gap: 1.25rem;
}

/***************** NAVBAR *******************/
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--white-color);
	z-index: 100;
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: var(--navbar-mh);
}

.navbar-menu {
	flex-direction: row;
	align-items: center;
	gap: 1.15rem;
}

.navbar-logo .text,
.navbar-link {
	font-weight: var(--medium-fw);
	vertical-align: var(--base-fs);
}

.navbar-link {
	position: relative;
}

.navbar-link:hover {
	color: var(--black-color);
}

.navbar-link::after {
	content: '';
	position: absolute;
	background-color: var(--black-color);
	border-radius: var(--circle-radius);
	height: 0.35rem;
	width: 0.35rem;
	opacity: 0;
	transition: 0.25s ease-in-out;
	top: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.navbar-link.active::after,
.navbar-link:hover::after {
	opacity: 1;
}
/************** End of NAVBAR ***************/

/***************** HOME *******************/
.home-content {
	display: grid;
	grid-template-columns: 35% 60%;
	column-gap: 5%;
}

.home-title,
.home-description {
	text-transform: capitalize;
}

.home-title {
	font-size: var(--xxl-fs);
	letter-spacing: -0.15rem;
	word-spacing: 0.5rem;
	margin-bottom: 1rem;
	font-weight: var(--semibold-fw);
}

.home-description {
	margin-bottom: 5.5rem;
	font-size: var(--lg-fs);
	font-weight: var(--normal-fw);
	color: var(--gray-color);
}
/************** End of HOME ***************/

/***************** ABOUT *******************/
.about-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.about-img {
	max-height: 350px;
}

.about-img img {
	height: 100%;
	margin: auto;
}

.about-text {
	padding-block: 2rem;
}

.about-title {
	font-size: var(--xl-fs);
	text-transform: capitalize;
	margin-bottom: 2.5rem;
	font-weight: var(--bold-fw);
}

.about-description {
	font-size: var(--lg-fs);
	color: var(--gray-color);
	font-weight: var(--normal-fw);
	max-width: 90%;
}
/************** End of ABOUT ***************/

/***************** SERVICES *******************/
.service-card {
	height: 100%;
	overflow: hidden;
	border-radius: var(--medium-radius);
	padding: 2rem;
	box-shadow: 1px 1px 25px 2px rgba(0, 0, 0, 0.05);
	transition: 0.35s ease-in-out;
}

.service-card:hover {
	transform: scale(1.05);
	box-shadow: 1px 1px 25px 2px rgba(0, 0, 0, 0.1);
}

.service-title {
	font-size: var(--lg-fs);
	text-align: center;
	margin-bottom: 1.75rem;
	font-weight: var(--bold-fw);
	text-transform: uppercase;
}

.service-img {
	height: 250px;
	margin: 0 auto;
	object-fit: contain;
}

.service-description {
	margin-block: 1.45rem;
	font-size: var(--lg-fs);
	text-align: center;
	font-weight: var(--normal-fw);
	color: var(--gray-color);
	line-height: 1.5;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.service-more {
	color: var(--primary-color);
	font-size: var(--base-fs);
	font-weight: var(--medium-fw);
	text-transform: uppercase;
	background-color: var(--secondary-color);
	margin: 0 auto;
	display: block;
	width: fit-content;
	padding: 0.55rem 1.85rem;
	border-radius: var(--medium-radius);
	transition: 0.35s ease-in-out;
}

.service-more:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	transform: scale(1.05);
	filter: drop-shadow(1px 1px 25px rgba(0, 0, 0, 0.25));
}
/************** End of SERVICES ***************/

/***************** CONTACT *******************/
.contact-title {
	font-size: var(--xl-fs);
	text-transform: capitalize;
	margin-bottom: 2.5rem;
}

.contact-description {
	font-size: var(--lg-fs);
	color: var(--gray-color);
	font-weight: var(--normal-fw);
	margin-bottom: 2rem;
	line-height: 1.5;
}

.contact-app {
	display: flex;
	gap: 1.25rem;
}
/************** End of CONTACT ***************/

/***************** FOOTER *******************/
#footer {
	background-color: var(--tertiary-color);
	padding-block: 3.5rem;
}

.footer-title {
	font-size: var(--lg-fs);
	text-transform: capitalize;
	font-weight: var(--medium-fw);
	margin-bottom: 1.5rem;
}

.footer-description {
	font-weight: var(--light-fw);
	color: var(--gray-color);
	text-transform: uppercase;
}

.footer-menu {
	flex-direction: column;
	gap: 0.85rem;
}

.social-links {
	display: flex;
	gap: 1rem;
}

.social-link {
	font-size: var(--xl-fs);
	transition: 0.35s ease-in-out;
}

.social-link:hover {
	transform: scale(1.1);
}
/************** End of FOOTER ***************/

/***************** CREDIT *******************/
/* TODO: Create CREDIT style */
/************** End of CREDIT ***************/

/***************** Responsiveness *******************/
/* TODO: Create Responsiveness style */
